{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Islamicreliefund</title>
{% endblock title %}
{% block css_links %}
{{ block.super }}
{% endblock css_links %}


{% block content %}
    <!-- Page Title -->
    <section class="page-title" style="background-image:url({% static 'images/background/bg-13.jpg' %})">
        <div class="auto-container">
            <div class="content-box">
                <h1>Know About Us</h1>
                <ul class="bread-crumb">
                    <li><a class="home" href="index.html"><span class="fa fa-home"></span></a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- History Section -->
    <section class="history-section">
        <div class="auto-container">
            <div class="description">
                <div class="top-content text-center">
                    <div class="icon-box"><span class="flaticon-hands-and-gestures"></span></div>
                    <h1>A small charity has a big impact</h1>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h4>With more than <span>3,900 staff of 50 nationalities,</span> Concern operates in 25 of the world’s poor countries, helping people to achieve major in their lives.</h4>
                    </div>
                    <div class="col-lg-6">
                        <h3>More than 32 years experience </h3>
                        <div class="text">Beguiled and demoralized by the charms of pleasure of the moment, so by desire, that they cannot foresee the pain and trouble that are bound to ensue   to those who fail in their shrinking.</div>
                    </div>
                </div>
            </div> 
            <div class="history-carousel">
                <div class="swiper-container history-image">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="{% static 'images/resource/image-15.jpg' %}" alt="">
                                <div class="year">1978</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="{% static 'images/resource/image-16.jpg' %}" alt="">
                                <div class="year">1978</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="{% static 'images/resource/image-17.jpg' %}" alt="">
                                <div class="year">1978</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="{% static 'images/resource/image-15.jpg' %}" alt="">
                                <div class="year">1978</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="{% static 'images/resource/image-16.jpg' %}" alt="">
                                <div class="year">1978</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="{% static 'images/resource/image-17.jpg' %}" alt="">
                                <div class="year">1978</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="{% static 'images/resource/image-15.jpg' %}" alt="">
                                <div class="year">1978</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="{% static 'images/resource/image-16.jpg' %}" alt="">
                                <div class="year">1978</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image">
                                <img src="{% static 'images/resource/image-17.jpg' %}" alt="">
                                <div class="year">1978</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-container history-content">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="text">In the summer of 1980, Jonathan, Richard, Mark and Craig <br>met to discuss how they could use their skills to raise money to the  daily <br>life of the poor people.</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="text">In the summer of 1980, Jonathan, Richard, Mark and Craig <br>met to discuss how they could use their skills to raise money to the  daily <br>life of the poor people.</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="text">In the summer of 1980, Jonathan, Richard, Mark and Craig <br>met to discuss how they could use their skills to raise money to the  daily <br>life of the poor people.</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="text">In the summer of 1980, Jonathan, Richard, Mark and Craig <br>met to discuss how they could use their skills to raise money to the  daily <br>life of the poor people.</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="text">In the summer of 1980, Jonathan, Richard, Mark and Craig <br>met to discuss how they could use their skills to raise money to the  daily <br>life of the poor people.</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="text">In the summer of 1980, Jonathan, Richard, Mark and Craig <br>met to discuss how they could use their skills to raise money to the  daily <br>life of the poor people.</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="text">In the summer of 1980, Jonathan, Richard, Mark and Craig <br>met to discuss how they could use their skills to raise money to the  daily <br>life of the poor people.</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="text">In the summer of 1980, Jonathan, Richard, Mark and Craig <br>met to discuss how they could use their skills to raise money to the  daily <br>life of the poor people.</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="text">In the summer of 1980, Jonathan, Richard, Mark and Craig <br>met to discuss how they could use their skills to raise money to the  daily <br>life of the poor people.</div>
                        </div>
                    </div>
                    <div class="swiper-nav-button">
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"><i class="flaticon-next"></i></div>
                        <div class="swiper-button-prev"><i class="flaticon-next"></i></div>
                    </div>
                </div>
            </div>               
        </div>
    </section>

    <!-- Funfact Section -->
    <section class="funfacts-section-two style-two" style="background-image: url({% static 'images/background/bg-12.jpg' %});">
        <div class="auto-container">
            <div class="sec-title text-center light">
                <h5>Our Impacts</h5>
                <h1>Love learning about crazy facts? <br>Then read these amazing facts that will tickle your brain.</h1>
            </div>
            <div class="outer-box">
                <div class="funfact-wrapper row">
                    <!--Column-->
                    <div class="col-lg-4 counter-block-two wow fadeInUp" data-wow-delay="300ms">
                        <div class="inner-box">
                            <div class="count-box">
                                <span class="prefix"></span><span class="count-text" data-speed="3000" data-stop="2.5">0</span><span class="affix">K</span>
                            </div>
                            <div class="text">Beneficiaries of <br>goodsoul</div>
                        </div>
                    </div>
                    <!--Column-->
                    <div class="col-lg-4 counter-block-two wow fadeInUp" data-wow-delay="600ms">
                        <div class="inner-box">
                            <div class="count-box">
                                <span class="prefix"></span><span class="count-text" data-speed="3000" data-stop="985">0</span><span class="affix"></span>
                            </div>
                            <div class="text">Happy Donators & <br>Contributors</div>
                        </div>
                    </div>
                    <!--Column-->
                    <div class="col-lg-4 counter-block-two wow fadeInUp" data-wow-delay="300ms">
                        <div class="inner-box">
                            <div class="count-box">
                                <span class="prefix"></span><span class="count-text" data-speed="3000" data-stop="147">0</span><span class="affix"></span>
                            </div>
                            <div class="text">Lovely Volunteers <br>Involved</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Why Choose Us Section -->
    <section class="whychoose-us-section">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="sec-title">
                        <h1>Why sign up as a giver on <br>the goodsoul?</h1>
                        <div class="text">We have a deep passion for the work that we do to improve the efficiency <br>and effectiveness of the non-profit sector.</div>
                    </div>
                    <div class="whychoose-us-block">
                        <div class="icon-box"><span class="flaticon-tick"></span></div>
                        <div class="content">
                            <h4>It’s super simple</h4>
                            <div class="text">Indignation and dislike men who are so beguiled and demoral <br>the charms of pleasure of the moment.</div>
                        </div>
                    </div>
                    <div class="whychoose-us-block">
                        <div class="icon-box"><span class="flaticon-tick"></span></div>
                        <div class="content">
                            <h4>It’s super simple</h4>
                            <div class="text">Indignation and dislike men who are so beguiled and demoral <br>the charms of pleasure of the moment.</div>
                        </div>
                    </div>
                    <div class="link-btn"><a href="#" class="theme-btn btn-style-one"><span>Let's Start</span></a></div>
                </div>
                <div class="col-lg-6">
                    <div class="image-block">
                        <img src="{% static 'images/resource/image-18.jpg' %}" alt="">
                        <div class="contact-info-two">
                            <h5>Need assitant for <br>join with us?</h5>
                            <div class="icon-box"><span class="flaticon-phone-1"></span></div>
                            <div class="phone-number"><a href="tel:+2114567890">+211 456 7890</a></div>
                        </div>
                        <div class="logo-box"><div class="image wow zoomIn" data-wow-delay="500ms"><img src="{% static 'images/resource/logo-icon.png' %}" alt=""></div></div>
                        <div class="video-box"><img src="{% static 'images/resource/image-19.jpg' %}" alt=""><a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="overlay-link lightbox-image video-fancybox video-btn"><span class="flaticon-multimedia-1"></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section class="team-section style-two">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h1>Team behind goodsoul</h1>
                <div class="text">Our work would not be possible without the work of our dedicated volunteers.</div>
            </div>
            <div class="row">
                <!-- Team Blokc One -->
                <div class="col-lg-4 team-block-one">
                    <div class="inner-box wow fadeInDown" data-wow-delay="200ms">
                        <div class="image"><a href="#"><img src="{% static 'images/resource/team-1.jpg' %}" alt=""></a></div>
                        <div class="lower-content">
                            <h4> <a href="#">Benjie Alphonso</a></h4>
                            <div class="designation">Founder</div>
                        </div>
                        <ul class="social-icon-two">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-skype"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- Team Blokc One -->
                <div class="col-lg-4 team-block-one">
                    <div class="inner-box wow fadeInUp" data-wow-delay="400ms">
                        <div class="image"><a href="#"><img src="{% static 'images/resource/team-2.jpg' %}" alt=""></a></div>
                        <div class="lower-content">
                            <h4> <a href="#">Ivor Herbert</a></h4>
                            <div class="designation">Manager</div>
                        </div>
                        <ul class="social-icon-two">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-skype"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- Team Blokc One -->
                <div class="col-lg-4 team-block-one">
                    <div class="inner-box wow fadeInDown" data-wow-delay="200ms">
                        <div class="image"><a href="#"><img src="{% static 'images/resource/team-3.jpg' %}" alt=""></a></div>
                        <div class="lower-content">
                            <h4> <a href="#">Merlin Judson</a></h4>
                            <div class="designation">Ground Person</div>
                        </div>
                        <ul class="social-icon-two">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-skype"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="link-btn text-center"><a href="#" class="theme-btn btn-style-one"><span>Meet All Members</span></a></div>
        </div>
    </section>

    <!-- Client section -->
    <section class="client-section style-three">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h1>Who contributed with us?</h1>
                <div class="text">The following  list of people contributed their 100%  support to help our thousands of causes.</div>
            </div>
            <div class="sponsors-carousel owl-carousel owl-theme owl-nav-none owl-dots-none">
                <div class="image" data-toggle="tooltip" data-placement="top" title="media partner"><a href="#"><img src="{% static 'images/clients/client-1.png' %}" alt=""></a></div>
                <div class="image" data-toggle="tooltip" data-placement="top" title="media partner"><a href="#"><img src="{% static 'images/clients/client-2.png' %}" alt=""></a></div>
                <div class="image" data-toggle="tooltip" data-placement="top" title="media partner"><a href="#"><img src="{% static 'images/clients/client-3.png' %}" alt=""></a></div>
                <div class="image" data-toggle="tooltip" data-placement="top" title="media partner"><a href="#"><img src="{% static 'images/clients/client-4.png' %}" alt=""></a></div>
                <div class="image" data-toggle="tooltip" data-placement="top" title="media partner"><a href="#"><img src="{% static 'images/clients/client-5.png' %}" alt=""></a></div>
            </div>
            <div class="text-two text-center">To learn about becoming a partner, contact us at: <a href="mailto:support@goodsoul.com">support@goodsoul.com</a> or <a href="tel:+8889991234">1-888-999-1234</a></div>
        </div>
    </section>

{% endblock content %}


<!-- JS -->
{% block js_links %}
{{ block.super }}
<script src="{% static 'js/script.js' %}"></script>
{% endblock js_links %}
