{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>Islamicreliefund</title>
{% endblock title %}



<!-- Stylesheets -->

{% block css_links %}
{{ block.super }}
{% endblock css_links %}


{% block content %}
    <!-- Page Title -->
    <section class="page-title" style="background-image:url({% static 'images/background/bg-13.jpg' %})">
        <div class="auto-container">
            <div class="content-box">
                <h1>Reports and Data</h1>
                <ul class="bread-crumb">
                    <li><a class="home" href="index.html"><span class="fa fa-home"></span></a></li>
                    <li>Reports</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Causes Section Four -->
    <section class="causes-section-four">
        <div class="auto-container">
            <div class="cause-wrapper">
                <div class="row">
                    <!-- Cause Block Four -->
                    <div class="cause-block-four style-two col-lg-4 col-md-6">
                        <div class="inner-box">
                            <div class="image">                                
                                <img src="{% static 'images/resource/cause-8.jpg' %}" alt="">
                                <div class="overlay"><a href="#" class="donate-box-btn">Donate Now</a></div>
                            </div>
                            <div class="lower-content">
                                <div class="wrapper-box">
                                    <h4><a href="cause-details.html">Help nigerian girls education</a></h4>
                                    <div class="text">Indignation and dislike men who are like all <br>beguiled and demoralized.</div>
                                    <div class="info-box">
                                        <div class="raised">
                                            <a href="#"><span>Raised:</span> $72000</a>
                                        </div>
                                        <div class="count-box">
                                            <span class="count-text" data-speed="3000" data-stop="60">0</span><span class="affix">%</span>
                                        </div>
                                        <div class="goal">
                                            <a href="#"><span>Goal:</span>  $100000</a>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Cause Block Four -->
                    <div class="cause-block-four style-two col-lg-4 col-md-6">
                        <div class="inner-box">
                            <div class="image">                                
                                <img src="{% static 'images/resource/cause-9.jpg' %}" alt="">
                                <div class="overlay"><a href="#" class="donate-box-btn">Donate Now</a></div>
                            </div>
                            <div class="lower-content">
                                <div class="wrapper-box">
                                    <h4><a href="cause-details.html">Help bolanile fight cancer</a></h4>
                                    <div class="text">Our power of choice is untrammelled and <br>nothing prevents like best.</div>
                                    <div class="info-box">
                                        <div class="raised">
                                            <a href="#"><span>Raised:</span> $74800</a>
                                        </div>
                                        <div class="count-box">
                                            <span class="count-text" data-speed="3000" data-stop="68">0</span><span class="affix">%</span>
                                        </div>
                                        <div class="goal">
                                            <a href="#"><span>Goal:</span> $110000</a>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Cause Block Four -->
                    <div class="cause-block-four style-two col-lg-4 col-md-6">
                        <div class="inner-box">
                            <div class="image">                                
                                <img src="{% static 'images/resource/cause-10.jpg' %}" alt="">
                                <div class="overlay"><a href="#" class="donate-box-btn">Donate Now</a></div>
                            </div>
                            <div class="lower-content">
                                <div class="wrapper-box">
                                    <h4><a href="cause-details.html">Donation for helpless people</a></h4>
                                    <div class="text">Obligations of business it will frequently <br>have to be repudiated.</div>
                                    <div class="info-box">
                                        <div class="raised">
                                            <a href="#"><span>Raised:</span> $98400</a>
                                        </div>
                                        <div class="count-box">
                                            <span class="count-text" data-speed="3000" data-stop="82">0</span><span class="affix">%</span>
                                        </div>
                                        <div class="goal">
                                            <a href="#"><span>Goal:</span> $120000</a>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Cause Block Four -->
                    <div class="cause-block-four style-two col-lg-4 col-md-6">
                        <div class="inner-box">
                            <div class="image">                                
                                <img src="{% static 'images/resource/cause-11.jpg' %}" alt="">
                                <div class="overlay"><a href="#" class="donate-box-btn">Donate Now</a></div>
                            </div>
                            <div class="lower-content">
                                <div class="wrapper-box">
                                    <h4><a href="cause-details.html">Help bolanile fight cancer</a></h4>
                                    <div class="text">Our power of choice is untrammelled and <br>nothing prevents like best.</div>
                                    <div class="info-box">
                                        <div class="raised">
                                            <a href="#"><span>Raised:</span> $74800</a>
                                        </div>
                                        <div class="count-box">
                                            <span class="count-text" data-speed="3000" data-stop="68">0</span><span class="affix">%</span>
                                        </div>
                                        <div class="goal">
                                            <a href="#"><span>Goal:</span> $110000</a>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Cause Block Four -->
                    <div class="cause-block-four style-two col-lg-4 col-md-6">
                        <div class="inner-box">
                            <div class="image">                                
                                <img src="{% static 'images/resource/cause-12.jpg' %}" alt="">
                                <div class="overlay"><a href="#" class="donate-box-btn">Donate Now</a></div>
                            </div>
                            <div class="lower-content">
                                <div class="wrapper-box">
                                    <h4><a href="cause-details.html">Donation for helpless people</a></h4>
                                    <div class="text">Obligations of business it will frequently <br> have to be repudiated.</div>
                                    <div class="info-box">
                                        <div class="raised">
                                            <a href="#"><span>Raised:</span> $98400</a>
                                        </div>
                                        <div class="count-box">
                                            <span class="count-text" data-speed="3000" data-stop="82">0</span><span class="affix">%</span>
                                        </div>
                                        <div class="goal">
                                            <a href="#"><span>Goal:</span> $120000</a>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Cause Block Four -->
                    <div class="cause-block-four style-two col-lg-4 col-md-6">
                        <div class="inner-box">
                            <div class="image">                                
                                <img src="{% static 'images/resource/cause-13.jpg' %}" alt="">
                                <div class="overlay"><a href="#" class="donate-box-btn">Donate Now</a></div>
                            </div>
                            <div class="lower-content">
                                <div class="wrapper-box">
                                    <h4><a href="cause-details.html">Help nigerian girls education</a></h4>
                                    <div class="text">Indignation and dislike men who are like all <br>beguiled and demoralized.</div>
                                    <div class="info-box">
                                        <div class="raised">
                                            <a href="#"><span>Raised:</span> $72000</a>
                                        </div>
                                        <div class="count-box">
                                            <span class="count-text" data-speed="3000" data-stop="60">0</span><span class="affix">%</span>
                                        </div>
                                        <div class="goal">
                                            <a href="#"><span>Goal:</span> $100000</a>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </section>

    <!-- Donor Section -->
    <section class="donor-section style-two">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h1>Recent Donators</h1>
                <div class="text">We connects nonprofits, donors, and companies in nearly every country around the world.</div>
            </div>
            <div class="row">
                <div class="col-md-4 donor-block">
                    <div class="inner-box wow fadeInUp" data-wow-delay="200ms">
                        <div class="top-content">
                            <div class="image">
                                <img src="{% static 'images/resource/donor-1.jpg' %}" alt="">
                                <div class="overlay">
                                    <div class="icon"><a href="#"><span class="fa fa-twitter"></span></a></div>
                                </div>
                            </div>
                            <h4>Austin Leon</h4>
                            <div class="location">San Jose</div>
                        </div>
                        <div class="bottom-content">
                            <div class="text">Donation</div>
                            <div class="price">$250</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 donor-block">
                    <div class="inner-box wow fadeInUp" data-wow-delay="500ms">
                        <div class="top-content">
                            <div class="image">
                                <img src="{% static 'images/resource/donor-2.jpg' %}" alt="">
                                <div class="overlay">
                                    <div class="icon"><a href="#"><span class="fa fa-twitter"></span></a></div>
                                </div>
                            </div>
                            <h4>Alvina Betty</h4>
                            <div class="location">Liverpool</div>
                        </div>
                        <div class="bottom-content">
                            <div class="text">Donation</div>
                            <div class="price">$200</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 donor-block">
                    <div class="inner-box wow fadeInUp" data-wow-delay="200ms">
                        <div class="top-content">
                            <div class="image">
                                <img src="{% static 'images/resource/donor-3.jpg' %}" alt="">
                                <div class="overlay">
                                    <div class="icon"><a href="#"><span class="fa fa-twitter"></span></a></div>
                                </div>
                            </div>
                            <h4>Jasper Flelix</h4>
                            <div class="location">Newcastle</div>
                        </div>
                        <div class="bottom-content">
                            <div class="text">Donation</div>
                            <div class="price">$500</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 donor-block">
                    <div class="inner-box wow fadeInUp" data-wow-delay="200ms">
                        <div class="top-content">
                            <div class="image">
                                <img src="{% static 'images/resource/donor-4.jpg' %}" alt="">
                                <div class="overlay">
                                    <div class="icon"><a href="#"><span class="fa fa-twitter"></span></a></div>
                                </div>
                            </div>
                            <h4>Jack Reuban</h4>
                            <div class="location">Liverpool</div>
                        </div>
                        <div class="bottom-content">
                            <div class="text">Donation</div>
                            <div class="price">$200</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 donor-block">
                    <div class="inner-box wow fadeInUp" data-wow-delay="200ms">
                        <div class="top-content">
                            <div class="image">
                                <img src="{% static 'images/resource/donor-3.jpg' %}" alt="">
                                <div class="overlay">
                                    <div class="icon"><a href="#"><span class="fa fa-twitter"></span></a></div>
                                </div>
                            </div>
                            <h4>William Noah</h4>
                            <div class="location">Newcastle</div>
                        </div>
                        <div class="bottom-content">
                            <div class="text">Donation</div>
                            <div class="price">$500</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}


<!-- JS -->
{% block js_links %}
{{ block.super }}
<script src="{% static 'js/script.js' %}"></script>
{% endblock js_links %}

